.about-section {
    /*height: calc(100vh);*/
    height: 2000px;
    font-family: 'Roboto:400', sans-serif;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media only screen and (min-width: 993px){
    .about-section .container{
        width: 85%;
    }
}