.about-section__content__story {
  margin-bottom: 40px;
  p {
    color: #727272;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 993px) {
  .about-section__content__story {
    padding-top: 15px;
  }
}