.about-section__content__story{
    /*margin: 15px;
    text-align: left;*/
    margin-bottom: 40px;
}

.about-section__content__story p{
    color: #727272;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 35px;
}