.home-section__content {
    display: table;
    height: calc(100vh - 80px);
    width: 100%;
    text-align: center;
    padding-top: 80px;
}

.home-section__content__info {
    vertical-align: middle;
    display: table-cell;
}

@media only screen and (max-width: 992px) {
    .home-section__content {
        min-height: 400px;
    }
}