/*.about-section__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 15px;
}*/

@media only screen and (max-width: 993px){
    .about-section__content{
        margin: 15px 0 !important;
    }
}

.about-section__content{
    margin: 60px 0;
}
