body {
    min-height: 100%;
    height: 100%;
}

.intro-section {
    height: 100%;
    text-align: center;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.05) inset;
    z-index: -1;
    background: url("../img/imac1.png") center;
    background-size: cover;
}


.about-section {
    height: 100%;
}

.skills-section {
    height: 100%;
}

.contacts-section {
    height: 100%;
}