/*#F0FFF3 #C6F1E7 #70ACB1 #59606D*/
.navbar-center-main{
    position: relative; float: right; right: 50%;
}
.navbar-center-item{
    position: relative; float: left; left: 50%;
}

.navbar-bg-color{
    /*background-color: rgba(90, 217, 255, 0.55) !important;*/
    background-color: rgb(255, 255, 255) !important;
}

.navbar {
    font-family: 'Karla', sans-serif;
    /*background-color: rgba(255, 75, 85, 0.55);*/
    background-color: rgba(255, 246, 254, 0.0);
    border-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
    width: auto;
    font-size: 15px;
}
.navbar2{
    font-family: 'Karla', sans-serif;
    background-color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
    width: auto;
    font-size: 15px;
}

.navbar-default .navbar-toggle {
    border-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(223, 68, 78, 0);
}

@media (min-width: 767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }

    #brand{
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-brand{
        padding: 0;
        margin: 8px 0 8px 10px !important;
    }
    #brand{
        margin-top: 0 !important;
    }

    #li-page-top{
        display: none;
    }

    .navbar{
        background-color: rgb(255, 255, 255) !important;
    }
}

.icon-bar {
    background-color: white !important;
}

ul > li > a {
    -webkit-transition: all 0.5s ease;
    line-height: 1;
    display: inline-block;
    color:#000000;
    text-decoration:none;
    cursor: pointer;
}

ul > li >a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: #000000;
    transition: width .3s ease-in-out;
}

ul > li > a:hover:after,
ul > li > a:focus:after {
    width: 100%;
}

ul > li > a:hover {
    color: black !important;
    background-color: rgba(248, 248, 248, 0) !important;
}

ul > li > a:focus {
    color: black !important;
    background-color: rgba(248, 248, 248, 0) !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: rgba(223, 68, 78, 0.49) !important;
}

.navbar-brand{
    padding: 0;
    margin: 0 10px 0 0;
}

#brand{
    margin-top: 3px;
    -webkit-transition: all 1s ease;
}

#brand:hover{
    transform: rotateY(180deg);
}
