/*выравнивание wrapper(родительский) and cell(дочерний)*/
.wrapper {
    display: table
}

.cell {
    display: table-cell;
    /*vertical-align: middle;*/
}

.border {
    border-color: white;
    border-style: dotted;
    border-width: 2px;
    padding: 10px;
    margin: 10px;
    border-radius: 2000px;
}

.border2 {
    border-color: white;
    border-style: dotted;
    border-width: 2px;
    border-radius: 2000px;
}

.circle-text {
    margin: 0 auto !important;
    width: 350px;
    height: 350px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.shadow {
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5) inset;
}

.color-white {
    color: white;
}

.absolute{
    position: absolute !important;
}

.padding-l-r-more{
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.no-margin{
    margin: 0 !important;
}
.no-padding{
    margin: 0 !important;
}



