h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    width: auto;
    text-align: center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    width: auto;
}

h3{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 4px;
    width: auto;
}

p{
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1px;
    width: auto;
}

.center{
    text-align: center;
}

hr{
    background-color: black;
    height: 2px;
    text-align: center;
}
