.button-link {
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    background-color: #00bcd4 !important;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    font-family: 'Roboto:400', sans-serif;
    text-decoration: none !important;
    letter-spacing: 0.5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   }

.button-link:hover {
    background-color: #008ea4 !important;
    color: white;
}
.button-link:focus {
    background-color: #008ea4 !important;
    color: white;
}