.home-section__content__text_title {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: 'Roboto:400', sans-serif;
  color: white;

  span {
    color: #00bcd4;
  }
}

@media screen and (max-width: 450px) {
  .home-section__content__text_title {
    font-size: 45px;
  }
}

.home-section__content__text_subtitle {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 38px;
  text-transform: uppercase;
  font-family: 'Roboto:300', sans-serif;
  color: white;
}